body
    direction: rtl
    background-color: #eee
    font-family: 'Cairo', serif
    font-size: small
nav
    text-align: center
    display: flex
    align-items: center
    color: #686868
    box-shadow: 0 0 10px #ddd
    justify-content: space-between
    padding: 10px 20px
    background-color: #fff
    flex-direction: column
    position: fixed
    width: -webkit-fill-available
    top: 0
    z-index: 1000

    a
        margin: 0 10px

.menu
    display: flex
    flex-direction: row
    overflow: auto
    a
        line-height: 1
        padding: 10px
        border-radius: 10px
        text-decoration: none
        color: #666
        font-size: 15px
        margin: 0 10px
        font-weight: 500
        span
            margin: 0 10px
            white-space: nowrap
article
    direction: rtl
    background-color: #eee
    display: flex
    margin-top: 110px !important
    margin: 10px auto
    max-width: 1000px
    justify-content: center
    section
        margin: 10px
form
    flex-direction: column !important
    max-width: 350px
    margin: 10px auto
    display: flex
    box-shadow: 0 0 10px #ddd
    padding: 20px
    border-radius: 20px
    background-color: #fff
    width: -webkit-fill-available

    & h1 ,h2
        text-align: center
        padding: 20px
// end new style

.w-full
    width: -webkit-fill-available

a
    color: #4CAF50
aside a
    padding: 10px 20px
    &:hover
        background-color: #f9f9f9
        border-right: 3px solid
.m-a
    margin: 10px auto

input , textarea
    padding: 10px
    border: 0.2px solid #4CAF50
    background-color: #fff4fc
button , .btn ,[type='submit']
    border: 0
    background-color: #4CAF50
    color: #fff
    padding: 10px
    text-align: center
    min-width: 80px
    border-radius: 10px
    &:focus , &:active
        background-color: #fff
        color: #4CAF50
        border: 1px solid
    &.off
        background-color: #fff
        color: #4CAF50
        border: 1px solid #4CAF50

.err
    background-color: #E91E63 !important
    color: #fff !important

.title
    margin: 10px
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    padding: 10px
    color: #4CAF50
.ant-table-wrapper
    overflow: auto
@media screen and ( min-width: 701px )
    .btn-menu
        display: none !important

@media (max-width: 900px)
    article
        &> div:nth-child(2)
            margin: 10px auto
            width: -webkit-fill-available
@media (max-width: 500px)
    article
        margin-top: 60px !important
    .menu
        position: fixed
        z-index: 0
        background-color: #fff
        padding: 10px
        height: -webkit-fill-available
        box-shadow: -1px 7px 10px #ddd
        flex-direction: column
        top: 60px
        right: 0
        width: 300px 
        display: none
        &-deploy
            display: flex !important
@media (max-width: 733px)
    .card
        margin: 10px auto

    .hotel
        &-title
            flex-direction: column !important
            img
                width: -webkit-fill-available !important
@media ( min-width: 500px ) and ( max-width: 950px )
    .menu a span
        display: none
.card
    display: flex
    flex-direction: column !important
    padding: 0
    margin: 10px
    width: 300px
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    border-radius: 10px
    justify-content: space-between
    .po
        padding: 10px
        margin: 10px
        border-radius: 10px
        color: #666

    img
        border-radius: 10px
        max-height: 200px
    .footer
        display: flex
        flex-direction: column
        padding: 10px
        margin-bottom: -10px
        align-items: flex-start
        color: #555
        text-align: center

h1
    margin-right: 15px
.page
    max-width: 700px
.part
    display: flex
    flex-direction: column !important
    padding: 20px
    margin: 10px 0
    margin-bottom: 10px
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    border-radius: 20px

.programCard
    padding: 10px
    margin: -20px 20px 10px
    border-radius: 10px
    height: 50px
    color: #666
    margin-top: -20px !important

.plan-card
    display: flex
    padding: 0
    margin: 10px 0
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    border-radius: 20px
    flex-direction: row
    &-title
        display: flex
        img
            box-shadow: 0 0 10px #ddd
            background-color: #fff
            padding: 0
            border-radius: 20px
            width: 300px
    &-body
        margin: 20px

@media (max-width: 700px)

    .CarWithDriverOne .details
        justify-content: center !important
    .title-img
        width: -webkit-fill-available
    .plan-card
        justify-content: center
        flex-wrap: wrap
        &-title
            width: -webkit-fill-available
            img
                max-width: 610px
                width: -webkit-fill-available !important
                box-sizing: border-box
        &-body
            width: -webkit-fill-available
.title-img
    width: 320px
    border-radius: 20px
    box-shadow: rgb(221, 221, 221) 0px 0px 10px

@media (max-width: 735px)
    .title-img
        width: -webkit-fill-available

.hotel-title
    display: flex
    justify-content: center
    flex-direction: row
    margin: 10px
    align-items: center

.hero
    background-image: linear-gradient(45deg, #ff00ad, #9C27B0)
    color: #fff
    justify-content: center
    flex-direction: column !important
    display: flex
    padding: 20px
    margin: 20px
    height: 300px
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    border-radius: 20px
    max-width: 700px
    width: -webkit-fill-available
