body
    direction: rtl
    background-color: #eee
    font-family: "Droid Arabic Kufi"
nav
    text-align: center
    display: flex
    align-items: center
    color: #686868
    box-shadow: 0 0 10px #ddd
    justify-content: space-between
    padding: 10px 20px
    background-color: #fff
    flex-direction: column
    position: fixed
    width: -webkit-fill-available
    top: 0
    z-index: 1000

    a
        margin: 0 10px

.menu
    display: flex
    width: 300px
    margin: 10px
    flex-direction: column
    overflow: auto
    a
        line-height: 1
        padding: 10px
        border-radius: 10px
        text-decoration: none
        color: #666
        font-size: 15px
        margin: 0 10px
        font-weight: 500
        span
            margin: 0 10px
            white-space: nowrap
article
    direction: rtl
    margin-top: 60px !important
    margin: 10px
    background-color: #eee
    display: flex
    align-items: flex-start
form
    flex-direction: column !important
    max-width: 350px
    margin: 10px auto
    display: flex
    box-shadow: 0 0 10px #ddd
    padding: 20px
    border-radius: 20px
    background-color: #fff
    width: -webkit-fill-available
    
    & h1 ,h2
        text-align: center
        padding: 20px
// end new style

.w-full
    width: -webkit-fill-available

a
    color: #4CAF50
aside a
    padding: 10px 20px
    &:hover
        background-color: #f9f9f9
        border-right: 3px solid
.m-a
    margin: 10px auto

input , textarea
    padding: 10px
    border: 0.2px solid #4CAF50
    background-color: #fff4fc
button , .btn ,[type='submit']
    border: 0
    background-color: #4CAF50
    color: #fff
    padding: 10px
    text-align: center
    min-width: 80px
    border-radius: 10px
    &:focus , &:active
        background-color: #fff
        color: #4CAF50
        border: 1px solid
    &.off
        background-color: #fff
        color: #4CAF50
        border: 1px solid #4CAF50

.err
    background-color: #E91E63 !important
    color: #fff !important

.title
    margin: 10px
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    padding: 10px
    color: #4CAF50
.ant-table-wrapper
    overflow: auto
@media screen and ( min-width: 701px )
    .btn-menu
        display: none !important

@media (max-width: 900px)
    article
        &> div:nth-child(2)
            margin: 10px auto

    .menu
        position: fixed
        background-color: #fff
        padding: 10px
        border-radius: 10px
        height: -webkit-fill-available
        box-shadow: 0 0 10px #ddd
        &-none
            display: none !important 
@media (max-width: 733px)
    .hotel
        &-title
            flex-direction: column !important
            align-items: flex-start

.card
    display: flex
    flex-direction: column !important
    padding: 0
    margin: 10px
    width: 300px
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    border-radius: 10px
    justify-content: space-between
    .po
        background-color: rgb(255 255 255)
        padding: 10px 20px
        margin: -20px 20px 10px
        border-radius: 10px
        box-shadow: 0 0 10px #ddd
        height: 50px
        color: #666

    img
        border-radius: 10px
        max-height: 200px
    .footer
        display: flex
        flex-direction: column
        padding: 10px
        margin-bottom: 10px
        align-items: flex-start
        color: #555
        text-align: center

h1
    margin-right: 15px
.page
    max-width: 700px
.part
    display: flex
    flex-direction: column !important
    padding: 20px
    margin: 10px 0
    margin-bottom: 10px
    box-shadow: 0 0 10px #ddd
    background-color: #fff
    border-radius: 20px
    
.programCard 
    padding: 10px 
    margin: -20px 20px 10px
    border-radius: 10px
    height: 50px
    color: #666 
    margin-top: -20px !important
